<h2>停车位状态</h2>
<h5>红色，已停；绿色：空车位；黄色：故障；灰色：待定</h5>

<% i =0 %>
<table class="table table-striped">
  <tbody>
    <% @nodes.each do |node| %>
      <% if i%16 == 0 %>
        <tr>
      <% end %>
        <td>

          <% if node.status == 'busy' %>
            <%= button_to("node", node_path(node.id), :class => "btn btn-danger btn-circle", method: :get) %>
          <% elsif node.status == 'idle' %>
          <%= button_to("node", node_path(node.id), :class => "btn btn-success btn-circle", method: :get) %>
          <% else %>
          <%= button_to("node", node_path(node.id), :class => "btn btn-default btn-circle", method: :get) %>
          <% end %>

          <span class="label label-default"> <%= node.hardware_id[4..6] %></span>

        </td>
      <% if i%16 == 15 or i == @nodes.length - 1 %>
        </tr>
      <% end %>

      <% i = i+1 %>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Node', new_node_path %>
