<h1>Listing hubs</h1>

<% @hubs.each do |hub| %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag("NetworkHub.png") %>
    <h3><%= link_to(hub.hardware_id, hub) %></h3>
    <h5>Status:<%= hub.status %></h5>
    <h5>Max nodes:<%= hub.max_nodes %></h5>
  </div>
  <div class="col-md-10">
    <table class="table table-striped">
      <tbody>
        <% 5.times do %>
          <tr>
            <% 20.times do %>
              <td><button type="button" class="btn btn-success btn-circle"><i class="fa fa-cab"></i></button></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
<% end %>


<%= link_to 'New Hub', new_hub_path %>
