<h1>Listing hubs</h1>

<% @hubs.each do |hub| %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag("NetworkHub.png") %>
    <h3><%= link_to(hub.hardware_id, hub) %></h3>
    <h5>Status:<%= hub.status %></h5>
    <h5>Max nodes:<%= hub.max_nodes %></h5>
  </div>
  <div class="col-md-10">

    <% i =0 %>
    <table class="table table-striped">
      <tbody>
        <% hub.nodes.each do |node| %>
          <% if i%16 == 0 %>
            <tr>
          <% end %>
            <td>
              <% reg = node.registrations.find_by(hub_id: hub.id) %>
              <% if reg.role == 'main' %>
              <%= button_to("node", node_path(node.id), :class => "btn btn-success btn-circle", method: :get) %>
              <% else %>
              <%= button_to("node", node_path(node.id), :class => "btn btn-primary btn-circle", method: :get) %>
              <% end %>
              <span class="label label-success"> <%= node.hardware_id[4..6] %></span>
            </td>
          <% if i%16 == 15 or i == hub.nodes.length - 1 %>
            </tr>
          <% end %>

          <% i = i+1 %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<hr>
<% end %>


<%= link_to 'New Hub', new_hub_path %>
