<%- model_class = Parking -%>
<div class="page-header">
  <h1>Parking records</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Plate</th>
      <th><%= model_class.human_attribute_name(:enter_time) %></th>
      <th><%= model_class.human_attribute_name(:exit_time) %></th>
      <th><%= model_class.human_attribute_name(:park_time) %></th>
      <th><%= model_class.human_attribute_name(:leave_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= link_to parking.id, parking_path(parking) %></td>
        <td><i class="fa fa-car"></i> <%= parking.car.plate %></td>
        <td><%= parking.enter_time %></td>
        <td><%= parking.exit_time %></td>
        <td><%= parking.park_time %></td>
        <td><%= parking.leave_time %></td>
        <td><%=l parking.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_parking_path(parking), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      parking_path(parking),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_parking_path,
            :class => 'btn btn-primary' %>
