<%- model_class = Car -%>
<div class="page-header">
  <h1>Visited cars <%= image_tag("car_logo_thumb.png") %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:plate) %></th>
      <th>parking times</th>
      <th>total payments</th>
      <th>Parking history</th>
      <th><%= model_class.human_attribute_name(:created_at)%></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><i class="fa fa-car"></i> <%= car.plate %></td>
        <td></td>
        <td></td>
        <td><%= link_to('view history', parkings_path) %></td>
        <td><%= car.created_at.strftime("%Y/%m/%d") %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_car_path,
            :class => 'btn btn-primary' %>
